<html>

<head>



  <!-- title external css ,javascript-->
  <title>This page is for appointment</title>
  <link rel="stylesheet" type="text/css" href="/mycss.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/hexagons.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <!-- added title external css and javascript-->



  
</head>

<body style="margin:30px; padding:30px">


  <!--adding javascript for the cards-->
  <script>

    
    function opencard1(e)
    {  
      console.log("open card")

      //getting the coordinate of mouse
      var x = e.pageX;
      var y = e.pageY;
      
      document.getElementById("card_element1").style.display="block"

      //setting up  the coordinates for card
      document.getElementById("card_element1").style.top=y-30+"px"
      document.getElementById("card_element1").style.left=x+50+"px"
    }
    function closecard1()
    { 
      console.log("close card")
      document.getElementById("card_element1").style.display="none"
    }

    




   function opencard2(e)
    {  
      console.log("open card")
      var x = e.pageX;
      var y = e.pageY;
      console.log(x)
      console.log(y)
      document.getElementById("card_element2").style.display="block"
      document.getElementById("card_element2").style.top=y-30+"px"
      document.getElementById("card_element2").style.left=x+50+"px"
    }
    function closecard2()
    { 
      console.log("close card")
      document.getElementById("card_element2").style.display="none"
    }

















    function opencard3(e)
    {  
      console.log("open card")
      var x = e.pageX;
      var y = e.pageY;
      console.log(x)
      console.log(y)
      document.getElementById("card_element3").style.display="block"
      document.getElementById("card_element3").style.top=y-30+"px"
      document.getElementById("card_element3").style.left=x+50+"px"
    }
    function closecard3()
    { 
      console.log("close card")
      document.getElementById("card_element3").style.display="none"
    }












    function opencard4(e)
    {  
      console.log("open card")
      var x = e.pageX;
      var y = e.pageY;
      console.log(x)
      console.log(y)
      document.getElementById("card_element4").style.display="block"
      document.getElementById("card_element4").style.top=y-30+"px"
      document.getElementById("card_element4").style.left=x+50+"px"
    }
    function closecard4()
    { 
      console.log("close card")
      document.getElementById("card_element4").style.display="none"
    }


    //use can decrease and increase the values  while adding the product to cart
    function decrease(value)
  {
  console.log(value);
   var html= parseInt(document.getElementById(value).innerHTML)
   console.log(html)
   if(html!=0)
   html=html-1;
   document.getElementById(value).innerHTML=html;


  }
  function increase(value)
  {
   var html= parseInt(document.getElementById(value).innerHTML)
   console.log(html)
   
   html=html+1;
   document.getElementById(value).innerHTML=html;


  }


  </script>
  
  <!-- html elements for cards-->
  <div class="form-popup" id="card_element1">
    <div class="card" style="width: auto;height:auto">
      <div class="card-body">
        <h5 class="card-title">Specialization</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>


  <div class="form-popup" id="card_element2">
    <div class="card" style="width: auto;height:auto">
      <div class="card-body">
        <h5 class="card-title">Education</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>



  <div class="form-popup" id="card_element3">
    <div class="card" style="width: auto;height:auto">
      <div class="card-body">
        <h5 class="card-title">Award Recognition</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>



  <div class="form-popup" id="card_element4">
    <div class="card" style="width: auto;height:auto">
      <div class="card-body">
        <h5 class="card-title">Registration</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <!--added elemnts for card-->



















  <!-- adding nav bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="\images\we.png" width="30" height="30" class="d-inline-block align-top" alt="">

    </a>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li style="padding-left:30px" class="nav-item active">
          <a class="navbar-brand" href="#">Home</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Doctor</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Products</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Services</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Entertainment</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Bolgs</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <button style="border-radius:12px" type="button"
            class="btn btn-dark btn-sm navbar-brand" disabled><%= user_name %></button>

        </li>
      </ul>
    </div>
  </nav>
  <!-- nav bar added-->















  
  <div style="margin-top:20px;width:100%;height:autopx;display:inline-block">
    <!--adding doctor details in side div tag-->
    <div class="card" style="float:left;height:auto;width:20%;">
      <img style="margin-left:auto;margin-right:auto;padding-top:20px;border-radius:50%;" src="/images/doctor_images/<%= result_basic[0].doctor_id %>"
        width="100px" height="100px" alt="Card image cap">
      <div style="margin-top:10px;" class="card-body">
        <h5 style="text-align:center;" class="card-title"><%= result_basic[0].name %></h5>
        <h6 style="text-align:center;" class="card-title">Thyroid Specialist</h6>
        <p style="text-align:center;" class="card-text">Thyroid specialist in emerrgency medicine</p>
        <hr>
        <div style="display: inline-block;">
          <img style="float:left" src="/images/thumbs_up.png" alt="this is text" width="20px" height="20px">
          <p style="float:left;margin-left:20px"> 93%</p>
          <img style="float:left;margin-left:40px" src="/images/rupees.png" alt="this is text" width="20px"
            height="20px">
          <p style="float:left;margin-left:20px"><%= result_basic[0].fees %></p>
          <img style="float:left" src="/images/message.png" alt="this is text" width="20px" height="20px">
          <p style="float:left;margin-left:9px"> 33 success stories</p>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">Lorem ipsum is simply dummy text of the printing and typesetting industry</li>
        <li class="list-group-item">
          <p>Services:<br>consultation<br>Health Check up</p>
        </li>
        <li class="list-group-item">Specialization <a  onmouseover="opencard1(event)" onmouseout="closecard1()" style="float:right" >></a></li>
        <li class="list-group-item">Education <a style="float:right" onmouseover="opencard2(event)" onmouseout="closecard2()">></a></li>
        <li class="list-group-item">Award Recognition <a style="float:right" onmouseover="opencard3(event)" onmouseout="closecard3()">></a></li>
        <li class="list-group-item">Registration <a style="float:right" onmouseover="opencard4(event)" onmouseout="closecard4()">></a></li>
      </ul>

    </div>
    <!-- added side bar for doctor details-->















    <!--adding form to fill for appointment-->
    <div class="card" style="float:left;width:75%;height:auto;margin-left:5%;margin-bottom: 50px;">
      <% var id=result_basic[0].doctor_id.substring(0,result_basic[0].doctor_id.length-4) %>
      <form action="/<%=id%>/input_data" method="post">

        <h3> Fill this Forum</h3>
        <p> Fill this form carefully for us to help you better!</p>
        <div style="margin-left:10px; margin-right:10px" class="form-row">
          <div class="form-group col-md-6">
            <label for="First Name">First Name</label>
            <input type="text" name="first_name" class="form-control" id="Name" placeholder="First Name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="Last Name">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="Last Name" placeholder="Last Name" required>
          </div>
        </div>
        <div style="margin-left:10px;margin-right:10px" class="form-row">
          <div class="from-group col-md-6">
            <label for="binput_date">Your date of birth</label>
            <input type="date" name="bdate" class="form-control" id="binput_date" placeholder="select a date" required>
          </div>
          <div class="from-group col-md-6">
            <label for="gender">Gender</label>
            <select name="gender" class="form-control" id="gender" required>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>
          <div style="margin-left:10px;margin-right:10px" class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email" required>
            </div>
            <div class="form-group col-md-6">
              <label for="phone">Phone</label>
              <input type="phone" name="phone" class="form-control" id="phone" placeholder="Phone" required>
            </div>
          </div>

          <div style="margin-left:10px;margin-right:10px" class="form-row">
            <div class="from-group col-md-6">
              <label for="input_date">Choose an appointment  Date</label>
              <input type="date" name="date" class="form-control" id="input_date" placeholder="select a date" required>
            </div>
            <div class="from-group col-md-6">
              <label for="input_slot">Choose a Slot</label>
              <select name="slot" class="form-control" id="input_slot" required>
                <option value="Evening">Evening Slot from 4 to 6</option>
                <option value="Afternoon">Afternoon slot from 12pm to 4pm</option>
                <option value="Morning">Morning slot from 9am to 12pm</option>

              </select>

            </div>
          </div>
          <div style="margin-top:10px;margin-left:10px;margin-right:10px" class="form-group">
            <label for="exampleFormControlTextarea1">Problem statement</label>
            <textarea class="form-control" name="problem_statement" id="exampleFormControlTextarea1"
              rows="3" required></textarea>
          </div>
          <div style="border-radius:10px;float:right;margin-right:5px">
            <button style="border-radius:20px" type="submit" class="btn btn-danger">Book an appointment</button>
          </div>
      </form>

    </div>
    <!--form added-->







    <!--adding it for patient story-->
    <div class="card " style="width:75%;margin-left: 25%;padding-top:10px;height:auto">
      <div style="display:inline-block">
        <h3 style="float:left;margin-left:30px"> Patient Stories</h3>
        <img style="float:left; margin-left:600px" src="/images/thumbs_up.png" width="30px" height="30px"
          alt="thumbs up">
      </div>
      <hr>
      <div class="scroll"
        style="box-shadow: 0px 5px 0px 5px white; margin-top: 30px;margin-bottom: 30px;margin-left:10px">

        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
        Scrollbar Test!<br />
      </div>
      <button style="margin-bottom: 2px;margin-left:65%;margin-right:10px;border-radius:20px" type="button"
        class="btn btn-danger">Share your story</button>
    </div>
    <!-- added patient story-->


  </div>
  <!-- div tag completed-->











  <!--adding consult specialist-->
  <div style="text-align:center;margin-top:30px;background-color:rgb(138, 138, 192);width:100%">
    <h1 style="margin:auto"> Consult </h1>

    <div style="display:inline-block">
      <% for (var i=0; i <4; i++ ) { %>
        <div style="width:20%;float:left;margin:2.5%;" class="card">
          <img class="card-img-top" src="/images/doctor_images/<%= result1[i].doctor_id%>" width="200px" height="200px"
            alt="Card image cap">
          <div style="text-align:center" class="card-body">
            <h5 class="card-title">
              <%= result1[i].name %>
            </h5>
            <p class="card-text">
              <%= result1[i].specialization %>
            </p>
            <a style="margin:auto" href="/<%=result1[i].doctor_id.substring(0,5) %>/consult" class="btn btn-primary">Consult</a>
          </div>
        </div>

        <% } %>
          <a href="/" style="float:right">view all>></a>
    </div>
  </div>
  <!-- consult specialist added-->






  <!--adding products-->
  <div style="width:100%;display:inline-block">

    <div style="width:100%;text-align: center;">

      <% for (var i=0; i <4; i++ ) { %>
        <div style="width:20%;float:left;margin:2.5%;" class="card">
          <img class="card-img-top" src="/images/product_image/<%= result2[i].product_id%>" width="200px" height="200px"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <%= result2[i].name %>
            </h5>
            <p class="card-text">
              <%= result2[i].specialization %>
            </p>
            <div style="margin-bottom:10px">
              <button onclick= "return decrease('<%=result2[i].product_id.substring(0,result2[i].product_id.length-4)%>')" style="width:10px" type="button" class="btn btn-success">-</button>
              <p style="display:inline" id="<%=result2[i].product_id.substring(0,result2[i].product_id.length-4)%>">0</p>
              <button onclick="return increase('<%=result2[i].product_id.substring(0,result2[i].product_id.length-4)%>')" style="width:10px" type="button" class="btn btn-success">+</button>
            </div>
              <a style="margin:auto"  id="add_to_cart<%=result2[i].product_id.substring(0,result2[i].product_id.length-4)%>" class="add_to_cart btn btn-primary">Add to cart</a>

            
          </div>
        </div>
        <% } %>

          <a href="/" style="float:right">view all>></a>
    </div>
  </div>
  <!-- products added-->









  <!-- adding the forum-->
  <div style="margin-top:50px;margin-bottom:0px;" class="h-zigzag">
    <h3 style="text-align: center;color:white">Forum</h3><br />
    <p style="color:white;padding-left:5px;padding-right:5px">people can discuss anything here like 1 has query or wants
      to discuss something so she can drop in a query anonymously and others can join the discussion below and give
      their opinion!</p>
    <div style="width:100%; margin:0px">
      <div
        style="border-radius:10px;background-color:rgb(120, 120, 163);text-align:center;width:35%; margin-left:50px; float:left;"
        class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/person1.jpg" width="280px" height="300px" alt="Card image cap">
        <div style="margin:auto;" class="card-body">
          <a href="#" class="btn btn-primary">Drop in a query</a>
        </div>
      </div>
      <div
        style="border-radius:10px;background-color:rgb(120, 120, 163);text-align:center;width:35%; margin-right:50px; float:right;"
        class="card" style="width: 18rem;">
        <img class="card-img-top" src="/images/person2.jpg" width="280px" height="300px" alt="Card image cap">
        <div style="margin:auto;" class="card-body">
          <a href="#" class="btn btn-primary">Join the dsicussion</a>
        </div>
      </div>
    </div>
  </div>
  <!-- forum added-->









  <!--adding footer-->
  <div style="width:100%; margin-top:100px">


    <a style="padding-left:150px" href="#">About</a>
    <a style="padding-left:250px" href="#">Contact</a>
    <a style="padding-left:250px" href="#">NewsLetter</a>
    <br>
    <a style="margin-top:30px;padding-left:150px;color:black" href="#">Terms of use</a>
    <a style="padding-top:30px;padding-left:190px;color:black" href="#">Shipping</a>
    <br>
    <a style="padding-top:20px;padding-left:150px;color:black" href="#">Privacy Policy</a>
    <a style="padding-top:20px;padding-left:180px;color:black" href="#">Others</a>
    <br>
    <a style="padding-top:20px;padding-left:150px;color:black" href="#">Careers</a>


  </div>
  <!-- footer added-->
 
  
<!--social media attaching-->
<div style="float:right">
  <a href="#"><span class="hb hb-xs"><i class="fa fa-facebook"></i></span></a>
		<a style="margin-left:20px" href="#"><span class="hb hb-xs"><i class="fa fa-twitter"></i></span></a>
		
    <a style="margin-left:20px" href="#"><span class="hb hb-xs"><i class="fa fa-linkedin-square"></i></span></a>
  
</div>
<!--social media attached-->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$(".add_to_cart").click(function(){
  var id=this.id;
  var string =id.slice(11,id.length);
  console.log(string)
  var html=document.getElementById(string).innerHTML;
  console.log(html)
  if(string>0)
  {
    $.ajax({
      url:"/add_to_cart",
      data:{
         count:html,
         id:string
      },
      method:"post",
      success:function(res){
        console.log(res.msg);
      }
    })
  }
})
</script>


</body>
</html>
