<html>
    <head>
        <title>
        This is disease page
        </title>
        <link rel="stylesheet" type="text/css" href="/mycss.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/hexagons.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/hexagons.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <!-- added title external css and javascript-->
     
    </head>
<body style="margin:30px;padding:30px"> 
    
    <script>

      //this is for the product 
      function decrease(value)
  {
  console.log(value);
   var html= parseInt(document.getElementById(value).innerHTML)
   console.log(html)
   if(html!=0)
   html=html-1;
   document.getElementById(value).innerHTML=html;


  }
  function increase(value)
  {
   var html= parseInt(document.getElementById(value).innerHTML)
   console.log(html)
   
   html=html+1;
   document.getElementById(value).innerHTML=html;


  }
    </script>
      <!-- adding nav bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="\images\we.png" width="30" height="30" class="d-inline-block align-top" alt="">

    </a>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li style="padding-left:30px" class="nav-item active">
          <a class="navbar-brand" href="#">Home</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Doctor</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Products</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Services</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Entertainment</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <a class="navbar-brand" href="#">Bolgs</a>
        </li>
        <li style="padding-left:40px" class="nav-item active">
          <button style="border-radius:12px" type="button"
            class="btn btn-dark btn-sm navbar-brand" disabled><%=user_name%></button>

        </li>
      </ul>
    </div>
  </nav>
  <!-- nav bar added-->



<div class="h-zigzag-right " style="margin-left:30%; width:30%;text-align:center;margin-top:20px">
    <h1 > Best Solutions</h1>

</div>

<div style="margin-top:80px">
<div style="float: left;margin-left:10%">
    <button style="border-radius:50%;" type="button" class="btn btn-success">PCOD</button>
</div>

<div style="float: left;margin-left:10%">
    <button  style="border-radius:50%;" type="button" class="btn btn-success">Thyroid</button>
</div>
<div style="float: left;margin-left:10%">
    <button style="border-radius:50%;" type="button" class="btn btn-success">Pregnancy</button>
</div>
<div style="float: left;margin-left:10%">
    <button style="border-radius:50%;" type="button" class="btn btn-success">Anxiety</button>
</div>
<div style="display:inline-block;margin-left:10%;">
    <button style="border-radius:50%;" type="button" class="btn btn-success">Derma</button>
</div>
</div>

<!-- this content to be written by you-->
<div style="margin-top:20px; " class="card">
    jhdsgfjgsjfgjsdf
    ghsdgfhvs<br>
    jhdgfsdjf<br>

</div>
<div style="background-color:rgb(192, 171, 171);">
<h1 style="text-align: center;">best diet plan</h1>
<p style="text-align: center;">jdsfhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh<br>hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</p>
<button style="margin-left: 43%;" type="button" class="btn btn-danger">Download PDF</button>
</div>
<div style="margin-top:30px;">
    <div style="float:left;width:300px">
    <img  src="/images/doctor_images/11111.jpg" alt="doctor image" width=auto>
    </div>
    <div style="width: 800px">
        <div style="margin-left:50px;">
    <h1 style="margin-top:10px;"> Consult the specialist</h1>
        </div>
        <div>
            <p style="text-align:center;margin-left:30px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div>
            <a style="border-radius:10px" href="http://localhost:8080/<%=id%>/specialist" role="button" class="btn btn-danger">Consult Specialist</a>
        </div>
    </div>
</div>

  <!--adding products-->
  <div style="width:100%;display:inline-block">

    <div style="width:100%;text-align: center;">

      <% for (var i=0; i <4; i++ ) { %>
        <div style="width:20%;float:left;margin:2.5%;" class="card">
          <img class="card-img-top" src="/images/product_image/<%= result2[i].product_id%>" width="200px" height="200px"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <%= result2[i].name %>
            </h5>
            <p class="card-text">
              <%= result2[i].specialization %>
            </p>
            <div style="margin-bottom:10px">
              <button onclick= "return decrease('<%=result2[i].product_id.substring(0,result2[i].product_id.length-4)%>')" style="width:10px" type="button" class="btn btn-success">-</button>
              <p style="display:inline" id="<%=result2[i].product_id.substring(0,result2[i].product_id.length-4)%>">0</p>
              <button onclick="return increase('<%=result2[i].product_id.substring(0,result2[i].product_id.length-4)%>')" style="width:10px" type="button" class="btn btn-success">+</button>
            </div>
              <a style="margin:auto"  id="add_to_cart<%=result2[i].product_id.substring(0,result2[i].product_id.length-4)%>" class="add_to_cart btn btn-primary">Add to cart</a>
            
          </div>
        </div>
        <% } %>

          <a href="/" style="float:right">view all>></a>
    </div>
  </div>
  <!-- products added-->

  <!--adding footer-->
  <div style="width:100%; margin-top:100px">


    <a style="padding-left:150px" href="#">About</a>
    <a style="padding-left:250px" href="#">Contact</a>
    <a style="padding-left:250px" href="#">NewsLetter</a>
    <br>
    <a style="margin-top:30px;padding-left:150px;color:black" href="#">Terms of use</a>
    <a style="padding-top:30px;padding-left:190px;color:black" href="#">Shipping</a>
    <br>
    <a style="padding-top:20px;padding-left:150px;color:black" href="#">Privacy Policy</a>
    <a style="padding-top:20px;padding-left:180px;color:black" href="#">Others</a>
    <br>
    <a style="padding-top:20px;padding-left:150px;color:black" href="#">Careers</a>


  </div>
  <!-- footer added-->
 
  
<!--social media attaching-->
<div style="float:right">
    <a href="#"><span class="hb hb-xs"><i class="fa fa-facebook"></i></span></a>
          <a style="margin-left:20px" href="#"><span class="hb hb-xs"><i class="fa fa-twitter"></i></span></a>
          
      <a style="margin-left:20px" href="#"><span class="hb hb-xs"><i class="fa fa-linkedin-square"></i></span></a>
    
  </div>
  <!--social media attached-->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$(".add_to_cart").click(function(){
  var id=this.id;
  var string =id.slice(11,id.length);
  console.log(string)
  var html=document.getElementById(string).innerHTML;
  console.log(html)
  if(string>0)
  {
    $.ajax({
      url:"/add_to_cart",
      data:{
         count:html,
         id:string
      },
      method:"post",
      success:function(res){
        console.log(res.msg);
      }
    })
  }
})
</script>

</body>




</html>